// breakpoints
$phonexs: 467px;
$phone: 576px;
$tablet: 768px;
$tabletlg: 992px;
$xl: 1200px;
$xxl: 1400px;
// breakpoints

// color
$darkBrown: #8D5322;
$light: #fff;
$lightyellow: #FFFFD6;
$lightbrown: #B67640;
// color
